@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', serif;
    color: white;

}
/*NAVIGATION BAR*/
.navigationbar a {
    text-decoration: none;
    color: white;
    font-size: 20px !important;
}
.navigationbar button {
    font-size: 20px;
}
.navigationbar nav {
    background-color: rgb(0, 157, 255);

}






body {
    background-color: rgb(46, 46, 46) !important;
}
.form {
    background-color: rgb(0, 157, 255);
    width:30%;
    /*padding: 40px;*/
    border-radius: 20px;
    /*width: 100%;*/

}
.form label {
    color: white;
    font-size: 20px;
}
.form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #0088E2;
    color: white; /* or whatever color you want */
    font-weight: bold;
    font-size: 20px;

}
::-ms-reveal {
    filter: invert(100%);
}
.form input:focus {
    background-color: #0088E2;
    color: white; /* or whatever color you want */
    font-size: 20px;

}
.form button {
    width: 55%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #004FA9;
    color: white; /* or whatever color you want */
    font-weight: bold;
    font-size: 20px;
}
.form a {
    color: white;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.form p {
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}
.show-password-icon {
    color: white;
}
ul {
    list-style-type: none;
}
ul:after {
    content: "";
    display: block;
    clear: both;
}




.customCard {
    background-color: #C7E4F8;
    border-radius: 5px;
}
.customCard * {
    color:black;
    font-weight: bold;
    /*font-size: 24px;*/
}
.customCard span {
    font-size: 22px;
}
.customCard p,
.customCard label {
    font-size: 17px;
}
.customCard #createBtn {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #7E57C2;
    color: white !important;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.customCard .editBtn {
    text-decoration: none;
}
.horizontal-line {
    height: 2px;
    color: #000000;
    background-color: #000000;
    font-size: 0;
    border: 0;
}
progress {
    border-radius: 50px;
    width:100%;
    height: 25px;
}
progress::-webkit-progress-bar {
    background-color:#E9ECEF;
    border-radius: 50px;
}
progress::-webkit-progress-value {
    background-color:#0D6EFD;
    border-radius: 50px;
}
progress::-moz-progress-bar {
    background-color:red;
}

/*This is for displaying stats in dashboard below level. Used for elements to be centered*/
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taskCard {
    cursor: pointer;
    border-width: 1px;
    border-color: #808080;
    border-style: solid; /* Add this line */
    border-radius: 5px;
    border-left: 7px solid mediumpurple;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}
.taskCard span {
    font-size: 17px;
}
.taskXPAndComplete {
    width: 15%;
}

.taskXPAndComplete * {
    font-weight: normal !important;
    color: white !important;
    border-radius: 5px;
    border: none;
}
.taskXPAndComplete span {
    background-color: #F0910D;
    height: 20%;
    font-size: 15px;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*display: flex;*/
}

.taskXPAndComplete button {
    background-color: #4a94ff;
    height: 38%;
    font-size: 18px;
}

.taskModal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    justify-content: center;
    align-items: center;
}

.taskModal * {
    color: black;
}
.taskModal input::placeholder {
    color: grey;
}

.taskModal input,
.taskModal select {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    color: black;
}
.taskModal p {
    color: grey;
    font-size: 13px;
}
/*.createTask select:invalid {*/
/*    color: grey !important;*/
/*}*/

.taskModal input[type=number]::-webkit-inner-spin-button,
.taskModal input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.taskModal button {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #0088E2;
    color: white; /* or whatever color you want */
    font-weight: bold;
}
/*.taskModalTitle {*/
/*    background-color: #0B9DFF;*/
/*    border-top-left-radius: 5px;*/
/*    border-top-right-radius: 5px;*/
/*}*/
/*.taskModalTitle h4 {*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    align-items: center;  !* Vertically centers the content *!*/
/*    justify-content: flex-start; !* Aligns content to the left horizontally *!*/
/*    color: white;*/
/*}*/

/* Modal Content */
.taskModal-content {
    /*position: fixed;*/
    bottom: 0;
    background-color: #fefefe;
    width: 30%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.taskModal-header {
    padding: 2px 16px;
    color: white;
    background-color: #0B9DFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.taskModal-header h4 {
    font-weight: bold;
    display: flex;
    align-items: center;  /* Vertically centers the content */
    justify-content: flex-start; /* Aligns content to the left horizontally */
    color: white;
}

.taskModal-body {padding: 2px 16px;}

/*.taskModal ul {*/
/*    text-decoration: white;*/
/*}*/

/*This is needed to disable the animation after error occurs in createModal*/
.no-animation,
.no-animation .taskModal-content {
    animation: none !important;
    -webkit-animation: none !important;
}
/*.animation,*/
/*.animation .taskModal-content {*/
/*    animation: fadeIn 0.4s, slideIn 0.4s;*/
/*    -webkit-animation: fadeIn 0.4s, slideIn 0.4s;*/
/*}*/

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


